<div class="follow dark-mode-1">
    <h3 class="follow-heading light-text border dark-mode-1">Who to follow</h3>
    <div class="follow-user border dark-mode-1" *ngFor="let user of suggestedUsers">
        <div class="follow-user-img">
            <img [src]="createResourcesPath('Resources/Images/' + user.userPic)" />
        </div>
        <div class="follow-user-info light-text">
            <h4>{{user.firstName}} {{user.lastName}}</h4>
            <p>@{{user.userName}}</p>
        </div>
        <button type="button" *ngIf="!user.isFollowedByCurrentUser" (click)="follow(user.id)" class="follow-btn dark-mode-2">Follow</button>
        <button style="color: #dc3545; border-color: #dc3545;" type="button" *ngIf="user.isFollowedByCurrentUser" (click)="unfollow(user.id)" class="follow-btn dark-mode-2">Un Follow</button>
    </div>
    <div class="follow-link dark-mode-1 border">
      <a>Show more</a>
    </div>
    <footer class="follow-footer dark-mode-2">
        <ul>
            <li><a href="#">Terms</a></li>
            <li><a href="#">Privacy policy</a></li>
            <li><a href="#">Cookies</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">More</a></li>
        </ul>
    </footer>
</div>