<div class="follow dark-mode-1">
    <h3 class="follow-heading light-text border dark-mode-1">Who to follow</h3>
    <div class="follow-user border dark-mode-1">
        <div class="follow-user-img">
            <img src="../../assets/images/user3.jpg" />
        </div>
        <div class="follow-user-info light-text">
            <h4>Ann Smith</h4>
            <p>@annsmith</p>
        </div>
        <button type="button" class="follow-btn dark-mode-2">Follow</button>
    </div>
    <div class="follow-user border dark-mode-1">
        <div class="follow-user-img">
            <img src="../../assets/images/user4.jpg" />
        </div>
        <div class="follow-user-info light-text">
            <h4>Nick Doe</h4>
            <p>@nickdoe</p>
        </div>
        <button type="button" class="follow-btn dark-mode-2">Follow</button>
    </div>
    <div class="follow-user border dark-mode-1">
        <div class="follow-user-img">
            <img src="../../assets/images/user5.jpg" />
        </div>
        <div class="follow-user-info light-text">
            <h4>James Black</h4>
            <p>@jamesblack</p>
        </div>
        <button type="button" class="follow-btn dark-mode-2">Follow</button>
    </div>
    <div class="follow-link dark-mode-1 border">
      <a href="#">Show more</a>
    </div>
    <footer class="follow-footer dark-mode-2">
        <ul>
            <li><a href="#">Terms</a></li>
            <li><a href="#">Privacy policy</a></li>
            <li><a href="#">Cookies</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">More</a></li>
        </ul>
    </footer>
</div>