<div class="post border dark-mode-1" *ngIf="tweet">
    <div class="user-avatar">
        <img [src]="tweet.author.image" />
    </div>
    <div class="post-content">
        <div class="post-user-info light-text">
            <h4>{{ tweet.author.firstName + " " + tweet.author.lastName }}</h4>
            <i class="fas fa-check-circle"></i>
            <span>@{{ tweet.author.userName }}
        {{ tweet.creationDate | date: "shortTime" }}</span>
        </div>
        <p class="post-text light-text">
            {{ tweet.body }}
        </p>
        <div class="post-img" *ngFor="let img of tweet.images">
            <img [src]="createResourcesPath('Resources/Images/' + img.imageName)" />
        </div>
        <div class="post-img" *ngIf="tweet.video">
            <video muted controls width="100%" height="auto">
                <source [src]="createResourcesPath('Resources/Videos/' + tweet.video.videoName)" />
            </video>
        </div>
        <div class="post-icons">
            <span><i class="far fa-comment"></i>{{ tweet.replyCount }}</span>
            <span><i class="fas fa-retweet"></i></span>

            <span><i class="far fa-heart"></i>{{ tweet.likeCount }}</span>
            <span><i class="fas fa-share-alt"></i></span>
        </div>
    </div>
</div>
<div *ngIf="tweet?.replies">
    <div class="post border" *ngFor="let item of tweet.replies">
        <div class="user-avatar">
            <img [src]="item.author.image" />
        </div>
        <div class="post-content">
            <div class="post-user-info light-text">
                <h4>{{ item.author.firstName + " " + item.author.lastName }}</h4>
                <i class="fas fa-check-circle"></i>
                <span>@{{ item.author.userName }}
          {{ item.creationDate | date: "shortTime" }}</span>
            </div>
            <p class="post-text light-text">
                {{ item.body }}
            </p>
            <div class="post-img" *ngFor="let img of item.images">
                <img [src]="createResourcesPath('Resources/Images/' + img.imageName)" />
            </div>
            <div class="post-img" *ngIf="item.video">
                <video muted controls width="100%" height="auto">
                    <source [src]="createResourcesPath('Resources/Videos/' + item.video.videoName)" />
                </video>
            </div>
            <div class="post-icons">
                <span><i class="far fa-comment"></i>{{ item.replyCount }}</span>
                <span><i class="fas fa-retweet"></i></span>

                <span><i class="far fa-heart"></i>{{ item.likeCount }}</span>
                <span><i class="fas fa-share-alt"></i></span>
            </div>
        </div>
    </div>
</div>