<div class="post border">
    <div class="user-avatar">
        <img src="../../assets/images/user2.jpg" />
    </div>
    <div class="post-content">
        <div class="post-user-info light-text">
            <h4>Helen Brown</h4>
            <i class="fas fa-check-circle"></i>
            <span>@helenbrown 15m</span>
        </div>
        <p class="post-text light-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Voluptates et voluptatibus vel tenetur quos, id omnis sed error
            fuga necessitatibus.
        </p>
        <div class="post-img">
            <img src="../../assets/images/post-img-1.jpg" />
        </div>
        <div class="post-icons">
            <i class="far fa-comment"></i>
            <i class="fas fa-retweet"></i>
            <i class="far fa-heart"></i>
            <i class="fas fa-share-alt"></i>
        </div>
    </div>
</div>