<div class="post border dark-mode-1" *ngFor="let item of tweetList" routerLink="/home/{{ item.id }}">
    <!-- <a> -->
    <div class="user-avatar">
        <img [src]="item.author.image" />
    </div>
    <div class="post-content">
        <a routerLink="/home/{{ item.id }}">
            <div class="post-user-info light-text">
                <h4>{{ item.author.firstName + " " + item.author.lastName }}</h4>
                <i class="fas fa-check-circle"></i>
                <span>
          @{{ item.author.userName }}
          {{ item.creationDate | date: "shortTime" }}</span>
            </div>
            <p class="post-text light-text">
                {{ item.body }}
            </p>
        </a>
        <div class="post-img" *ngFor="let img of item.images">
            <img [src]="createResourcesPath('Resources/Images/' + img.imageName)" />
        </div>
        <div *ngIf="item.video">
            <video controls [src]="createResourcesPath('Resources/Videos/' + item.video.videoName)" width="100%" height="auto"></video>
        </div>
        <div class="post-icons">
            <span><i class="far fa-comment" (click)="addReply(item.id)"></i>{{ item.replyCount }}</span>
            <span><i class="fas fa-retweet"></i></span>
            <span><i class="far fa-heart mr-1"></i>{{ item.likeCount }}</span>
            <span><i class="fas fa-share-alt"></i></span>
        </div>
    </div>
</div>