<!-- login page -->
<section class="login-page">
  <!-- login page nav -->
  <nav class="login-page-nav">
    <ul>
      <li class="brand">
        <a href="#"><i class="fas fa-dove"></i> Home</a>
      </li>
      <li><a href="#">About</a></li>
      <li><a href="#">Language: English</a></li>
    </ul>
  </nav>
  <!-- end of login page nav -->
  <!-- login -->
  <div class="container-fluid">
    <div class="login d-flex mx-auto justify-content-center flex-column mt-4 col-10">
      <div class="login-content container px-5 mx-auto">
        <h2 class="text-center">Register To Twirrer</h2>
        <form class="login-form d-flex flex-column" [formGroup]="signupform" (ngSubmit)="onSubmit()">

          <div class="form-group d-flex flex-column align-items-center" style="height: 5rem">
            <span>
              <input type="text" [class.is-invalid]="firstname.invalid && firstname.touched" formControlName="firstname"
                class="form-control login-user-info mb-2" placeholder="First name" />
              <span *ngIf="firstname.errors && firstname.invalid && firstname.touched">
                <small class="text-danger error" *ngIf="firstname.errors?.required">&nbsp; First name is
                  required</small>
              </span>
            </span>
          </div>

          <div class="form-group d-flex flex-column align-items-center" style="height: 5rem">
            <span>
              <input type="text" [class.is-invalid]="lastname.invalid && lastname.touched" formControlName="lastname"
                class="form-control login-user-info mb-2" placeholder="Last name" />
              <span *ngIf="lastname.errors && lastname.invalid && lastname.touched">
                <small class="text-danger error" *ngIf="lastname.errors?.required">
                  &nbsp; Last name is required
                </small>
              </span>
            </span>
          </div>

          <div class="form-group d-flex flex-column align-items-center" style="height: 5rem">
            <span>
              <input type="text" [class.is-invalid]="username.invalid && username.touched" formControlName="username"
                class="form-control login-user-info mb-2" placeholder="Username" />
              <span *ngIf="username.errors && username.invalid && username.touched">
                <small class="text-danger error" *ngIf="email.errors?.required">
                  &nbsp; Username is required
                </small>
              </span>
            </span>
          </div>

          <div class="form-group d-flex flex-column align-items-center" style="height: 5rem">
            <span>
              <input type="email" [class.is-invalid]="email.invalid && email.touched" formControlName="email"
                class="form-control login-user-info mb-2" placeholder="Email" />
              <span *ngIf="email.errors && email.invalid && email.touched">
                <small class="text-danger error" *ngIf="email.errors?.required">
                  &nbsp; Email is required
                </small>
                <small class="text-danger error" *ngIf="!email.errors?.required && email.errors?.badPattern">
                  &nbsp; Email is not valid
                </small>
              </span>
            </span>
          </div>

          <div class="form-group d-flex flex-column align-items-center" style="height: 5rem">
            <span>
              <input type="password" name="password" formControlName="password"
                [class.is-invalid]="password.invalid && password.touched" class="form-control login-password"
                placeholder="Password" />
              <span>
                <small class="text-danger error" *ngIf="password.touched && password.errors?.required">
                  &nbsp; Password is required
                </small>
                <small class="text-danger error" *ngIf="invalidEmailOrPassword">
                  &nbsp; Invalid email or password
                </small>
              </span>
            </span>
          </div>
          <button type="submit" class="btn-top mx-auto mt-5" value="Submit Form" [disabled]="signupform.invalid">
            Sign up
          </button>
        </form>
      </div>
    </div>
  </div>
  <!-- end of login -->
  <!-- login modal -->
  <div class="login-modal">
    <i class="fas fa-times"></i>
    <p>
      The username and password you entered did not match our records. Please
      double check and try again
    </p>
  </div>
  <!-- end of login modal -->
</section>
<!-- end of login page -->