<section class="feeds-page">
  <!-- feeds nav -->
  <app-nav></app-nav>
  <!-- end of feeds nav -->

  <!-- feeds content -->
  <div class="container d-flex justify-content-between">
    <div class="col-12 col-xxl-8 col-xl-1 col-lg-12 main-content">
      <div class="col-11 mx-auto">
        <div class="feeds-content">
          <div class="feeds-header dark-mode-1">
            <div class="header-top border" *ngIf="page == 'feed'">
              <h4 class="light-text">Home</h4>
              <i class="far fa-star"></i>
            </div>
            <div class="header-post dark-mode-1 border" *ngIf="page == 'feed'">
              <div class="header-img-wrapper">
                <img src="../../assets/images/user1.jpg" />
              </div>
              <input type="text" placeholder="What's happening?" class="dark-mode-2 light-text border" />
              <i class="far fa-image"></i>
              <i class="fas fa-camera"></i>
              <i class="far fa-chart-bar"></i>
            </div>
          </div>
          <ng-container *ngIf="page == 'feed'; else elseTemplate">
            <app-tweet class="posts dark-mode-1" [tweetList]="homePageTweets"></app-tweet>
          </ng-container>
          <ng-template #elseTemplate>
            <app-tweet-details class="posts dark-mode-1"></app-tweet-details>
          </ng-template>
        </div>
      </div>
    </div>

    <div class="mx-0 col-lg-4 d-none d-lg-block">
      <app-side-panel></app-side-panel>
    </div>
    <!-- end of feeds content -->

    <button type="button" class="post-btn" (click)="openPostTweetWindow()">
    +<i class="fas fa-feather-alt"></i> Post
  </button>

    <!-- post modal -->
    <app-post-tweet class="modal-wrapper" (onClose)="closePostTweetWindow()"></app-post-tweet>
    <!-- end of post modal -->

    
</section>