<!-- login page -->
<section class="settings-page dark-mode-2" [ngClass]="{'dark-2 border-color' : isDarkModeEnabled()}">
     <!-- nav -->
     <!-- <app-nav></app-nav> -->
     <!-- end of nav -->
    <!-- settings -->
    <div class="main-page-content container d-flex justify-content-between">
        <div class="container d-flex justify-content-between">
            <div class="col-10 mx-auto">
                <div class="settings-content">
                    asds
                </div>
            </div>
        </div>


        <div class="settings-content d-none">
            <h2>Settings</h2>
            <form class="login-form" [formGroup]="settingForm" (ngSubmit)="onSubmit()">
                <div class="container">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="form-group">
                                <label>Username</label>
                                <input type="text" formControlName="username" class="form-control login-user-info" />
                                <div *ngIf="username.errors && username.invalid && username.touched">
                                    <small class="text-danger" *ngIf="email.errors?.required">
                    Username is required
                  </small>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Firstname</label>
                                <input type="text" [class.is-invalid]="firstname.invalid && firstname.touched" formControlName="firstname" class="form-control login-user-info" />
                                <div *ngIf="firstname.errors && firstname.invalid && firstname.touched">
                                    <small class="text-danger" *ngIf="firstname.errors?.required">Firstname is required</small>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Lastname</label>
                                <input type="text" [class.is-invalid]="lastname.invalid && lastname.touched" formControlName="lastname" class="form-control login-user-info" />
                                <div *ngIf="lastname.errors && lastname.invalid && lastname.touched">
                                    <small class="text-danger" *ngIf="lastname.errors?.required">
                    Lastname is required
                  </small>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Email</label>
                                <input type="email" [class.is-invalid]="email.invalid && email.touched" formControlName="email" class="form-control login-user-info" />
                                <div *ngIf="email.errors && email.invalid && email.touched">
                                    <small class="text-danger" *ngIf="email.errors?.required">
                    email is required
                  </small>
                                    <small class="text-danger" *ngIf="!email.errors?.required && email.errors?.badPattern">
                    email is not valid
                  </small>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5" style="margin-top: 80px;height: 300px;">
                            <img *ngIf="image != null" [src]="createResourcesPath('Resources/Images/' +image)" style="width:95%;height: 100%;" alt="">
                        </div>
                        <!-- <div class="col-md-5" style="margin-top: 100px;">
                            <img [src]="createResourcesPath('Resources/Images/' +image)" width="100%" alt="">
                        </div> -->
                        <input type="file" (change)="changePhoto($event)" value="Change Photo">
                    </div>
                </div>
                <button type="submit" class="btn-top" value="Submit Form" [disabled]="settingForm.invalid">
          Save
        </button>
            </form>
        </div>
    </div>
    <!-- end of settings -->
    <!-- login modal -->
    <div class="login-modal">
        <i class="fas fa-times"></i>
        <p>
            The username and password you entered did not match our records. Please double check and try again
        </p>
    </div>
    <!-- end of login modal -->
</section>
<!-- end of login page -->